<div class="row-fluid">
  <div class="span8 offset2 well" style="overflow: auto;">
    <%= render :partial => 'shared/flash_messages'%>
    <h1 class="text-center">Pente</h1>
    <button class="btn btn-success" type="button" onclick="newPenteGame();">new game</button>
    <div class='message text-center large-text' id='message'>&nbsp;</div>
    <div class='error text-center large-text' id='alertMessage'>&nbsp;</div>
    <div class="text-center">
      <canvas id="penteCanvas" width="550" height="550" style="border:2px solid #000000;"></canvas>
    </div>
    <div class='message text-center large-text' id='score'>&nbsp;</div>
    <%= link_to 'back', '/' %>
  </div>
</div>
<script>
initPente();
</script>
